@import "tailwindcss";

@theme {
  --color-primary: #41E199;
  --color-background: var(--color-background);
  --color-text: var(--color-text);
  --color-bg-light: #fdfef6;
  --color-bg-dark: #1a1b19;
  --color-muted-dark: #404139;
  --color-surface-light: #fdfdf6;

  --font-host: "Host Grotesk", sans-serif;
  --font-lexend: "Lexend Exa", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-roboto: "Roboto", sans-serif;
  --font-spline: "Spline Sans", sans-serif;
}

@layer base {
  body {
    @apply font-spline transition-colors duration-300;
  }
  
  h1, h2, h3, h4 {
    @apply font-playfair;
  }
}

:root {
  --color-background: #1a1b19;
  --color-text: #fdfef6;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
